<link rel="import" href="../../../../bower_components/polymer/polymer.html">
<dom-module id="rc-navigation-style">
<template>
<style>
@media (max-width: 479px) {
  .rc--hide-phone {
    display: none !important; } }

@media (min-width: 480px) and (max-width: 839px) {
  .rc--hide-tablet {
    display: none !important; } }

@media (min-width: 840px) and (max-width: 1199px) {
  .rc--hide-small-desktop {
    display: none !important; } }

@media (min-width: 1199px) {
  .rc--hide-large-screen {
    display: none !important; } }

.rc-navigation-header .rc-navigation-item {
  color: #373a3c;
  text-decoration: none;
  margin-left: 25px;
  margin-right: 25px; }
  @media (min-width: 840px) and (max-width: 1199px) {
    .rc-navigation-header .rc-navigation-item {
      font-size: 0.7em;
      margin-left: 10px;
      margin-right: 10px; } }

</style>
</template>
</dom-module>